.container{
    position: absolute;
    top: 200px; left: 0px;
    height: 400px; width: 100%;
    border: 1px solid;
}

table{
    border: 1px solid;
    width: 20px;
}
td{
    border-collapse: collapse;
}